.modal-content {
    max-width: 700px;
}

.map_holder {
    width: 700PX;
}

#map_zoom, #map_outer {
    top: 50px;
    left: 20px;
}

svg {
    overflow: visible;
    display: block;
    width: 500px;
}