.modal {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    padding: 15px;
  }

.input-info{
    width: 70%;
    margin: 20px;
    font-size: 18px;
    align-items: center;
}

.input-info label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
    font-weight: bold;
}

.input-info input{
    font-size: 18px;
    padding: 5px;
    width: 80%;
}

.modal-actions button {
    width: 10%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #4A90E2; /* 파란색 버튼 */
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.modal-actions button:hover {
    background: #357ABD;
}