*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.next-screen {
  position: relative;  /* 상황에 따라 fixed나 relative로 조정 */
  top: 30%;
  left: 0;
  width: 100%;
  height: 70%;
  background-color: rgba(255, 255, 255, 0.8); /* 반투명 배경 예시 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.plan-buttons {
  margin: 20px 0;
}


/* Button 기본 스타일 */
button {
  font-family: 'Noto Sans KR', sans-serif;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.411);
}

button:hover {
  opacity: 0.8;
  box-shadow: none;
}

.plan-buttons button {
  margin: 0 10px;
}


/* 각 버튼 타입 */
.custom-plan {
  padding: 15px 25px;
  width: 250px;
  background-color: lightblue;
}

.random-plan {
  padding: 15px 25px;
  width: 250px;
  background-color: skyblue;
}

.navigation-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.to-back, .to-next {
  background-color: pink;
  border: none;
}

.next-screen {
  width: 70%;
  margin: auto;
  background-color: transparent;
}

